@model ktlaptrinhweb_42_2033216401.Controllers.LoginViewModel

@{
    ViewBag.Title = "Đăng Nhập";
}

<h2>Đăng Nhập</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Username, "Tên Tài Khoản")
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Mật Khẩu")
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
}

<p>
    @Html.ActionLink("Đăng Ký", "Register", "Home") |
    @Html.ActionLink("Quên Mật Khẩu?", "ForgotPassword", "Account")
</p>